.confidential_warning {
  background-color: transparent;
  background: none;
  box-shadow: none;
}

.warning-body {
  font-size: 15px;
}

.nixsysinfo {
  background-color: transparent;
  background: none;
  box-shadow: none;
}